@font-face {
    font-family: arimo;
    src: url(Arimo-Regular.ttf);
}


header{
  position: fixed;
  width: 100vw;
  height: 8vh;

}

ul{
  list-style: none;
  list-style-type: none;
  padding: 0;

}

.hide{
  display: none;
  margin-left: 100vw;

}

.animate{
  margin-left: 30vw;
}

.animatereverse{
  margin-left: 100vw;
}

.header{
  display: flex;
  width: 94vw;
  justify-content: space-between;
  margin: 2vw;

}


.mainmenu{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}


.menuperso{
  position: absolute;
  width: 70vw;
  margin-top: -8vh;
  background-image: url(img/backIphone.png);
  background-size: cover;
  height: 100vh;
  transition: all 0.5s;
  

}

.mainlogo{
  height: 5vw;
}

.greenband{
  align-items: center;
  display: flex;
  justify-content: space-around;
  width:100%;
  height: 10%;
  background-color: #9CA857;
}

.btnclose{
  height: 3vh;

}

.infos{
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: arimo;
  color: white;
}

.username{
  font-size: 200%;
}

.userplace{
  font-size: 150%;
}

.profilepic{
  max-width: 100%;
  height: 50%;
}

.categories{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify: center;

}
.category{
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-family: arimo;
  margin-left: 20%;
  margin-top: 5vh;

}

.category a{
  color: white;
  font-family: arimo;
  font-size: 150%;
  margin-left: 3vh;
}

.category .icon{
  max-width: 100%;
  height: 2.5vh;
}

@keyframes rollon {
    from {margin-left: 100vw;}
    to {margin-left: 30vw;}
}

@keyframes rollout {
    from {margin-left: 30vw;}
    to {margin-left: 100vw;}
}
