html,body{

    height: 100%;	
	background : white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden; /*bloque le scroll */ 
    overflow-x: hidden;
    margin : 0;
}
input{
	background: #9CA857;
	border-color: transparent;
	width : 250px;
	height : 100px;
	color :white;
	font-family: Arial;
	font-weight:bolder;
	font-size: 20px;
	text-transform: uppercase;
	margin-left : 20vw;
	border-radius: 12px;
}


.logo {
	width : 100px;
	height : auto;
}
#arrowBlancheParam img {
	position: relative;
	top : 10vw;
	width : 50px;
	left : 7vw;
}


/* popup Vaidation */

.popupValid{
	width : 70vw;
	margin : 18vw;
	left : -20vw;
	height: 130vw;
	box-shadow: 5px 5px 15px #aaaaaa;

}
.popupValid h4{
	position: relative;
	top : 28vw;
	color : #525252;
	font-family: Arimo; 
	font-size: 4vw;
	font-weight: bolder;
	letter-spacing :2px;
	text-align: center;


}
.popupValid img{
	width : 55vw;
	position : relative;
	left : 10vw;
	top : 15vw;

}


/* popup Rappel */

.popupRappel{
	width : 70vw;
	margin : 18vw;
	left : -20vw;
	height: 130vw;
	box-shadow: 5px 5px 15px #aaaaaa;

}

.popupRappel{
	width : 70vw;
	margin : 18vw;
	left : -20vw;
	height: 130vw;
	box-shadow: 5px 5px 15px #aaaaaa;

}
.popupRappel h4{
	position: relative;
	top : 20vw;
	color : #525252;
	font-family: Arimo; 
	font-size: 4vw;
	font-weight: bolder;
	letter-spacing :2px;
	text-align: center;

}
.txtRappel   h4{
	font-size : 3.5vw;
	color : #A6A7A8;
	padding : 5vw;
	top : 30vw;
	position : relative;
	font-family: Arial; 
	font-weight: normal;

}

.txtPb h4{
	font-size : 3.5vw;
	color : #A6A7A8;
	padding : 5vw;
	position : relative;
	top : 25vw;
	font-family: Arial; 
	font-weight: normal;
}

/* Popup commande */ 

.recapCmd img{
	width : 5vw;
	height : auto;
	position : relative;
	left : 60vw;
	top : 5vw;
}

.recapCmd h2{
	font-family: Arial;
	font-size : 7vw;
	color :#9CA857 ;
	position : relative;
	left : 26vw;
	top : 5vw;
	letter-spacing: 2px;

}
.recapCmd h4{
	font-family: Arimo;
	font-size : 2.5vw;
	font-weight: normal;
	color :#483730 ;
	position : relative;
	top : 2vw;
	letter-spacing: 2px;
	line-height: 3.5vw;

}
.backSalade {
	background: #F8F8F8;
	position : relative;
	top : 2vw;
	height : 15vw;

}
.backSalade h3{

	color : #9CA857;
	font-family: Fira Sans;
	letter-spacing: 2px;
	font-weight: normal;
	font-size : 3vw;
	position : relative;
	top : 5vw;
	left : 5vw;
}
.backSalade h4{

	color : #525252;
	font-family: Arial;
	letter-spacing: 2px;
	font-weight: normal;
	font-size : 2vw;
	position : relative;
	top : -1vw;
	left : 18vw;
	line-height: 3vw;

}
.password2 h4 {
	color : #525252;
	font-family: Arial;
	letter-spacing: 2px;
	font-weight: normal;
	font-size : 2.5vw;
	position : relative;
	top : 5vw;
	left : -22vw;
	line-height: 3vw;

}

.password2 h2{
	letter-spacing: 2px;
	font-size : 3vw;
	position : relative;
	top : 8vw;
	left : 10vw;

}
.password2 input{
	position : relative;
	width : 60vw;
	height : 8vw;
	left : -14vw;
	margin-bottom:-5vw;
	border-radius :0%;
	border:1px dashed #D6D1D1;
	background: transparent;
}
#confirmCmd{
	font-family: Arimo;
	color : #525252;
	font-size: 2.5vw;
	font-weight: normal;
	position : relative ;
	left : 18vw;
	top : 10vw;

}

#btnNextCmd {
	position : relative;
	top : 12vw;
	left : -10vw;
	width : 50vw;
	height : 80px;
	background: #9CA857;
}
