html,body{

    height: 100%;	
/*bloque le scroll */ 
    overflow-x: hidden;
    overflow-y: hidden;
    margin : 0;
}

#jour h1 {
	color : #9CA857;
	position : relative;
	font-family: Fira Sans;
	letter-spacing: 2px;
	font-weight: normal;
	padding: 5vw;
	top : 18vw;


}
.Kitbrunch {
	background :#F4F4F4;
	padding : 2vw;
	height: 35vw;
	position : relative;
	top : 15vw;
	margin-bottom: 2vw;
}

.titreBrunch h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}
.aDeposer h3{
	color : #9CA857;
	position : relative;
	top : -5.5vw;
	left : 60vw;
	font-family: Arial;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: lighter;
	font-style: italic;

}
.heure h4{
	color : #525252;
	position : relative;
	font-family: Arial;
	letter-spacing: 1px;
	font-size : 3.5vw;
	top : -13.5vw;
	left : 85vw;
	font-weight: bolder;


}
.ingredient1 h1{
	font-family: Arimo;
	font-size : 3.2vw;
	position : relative;
	margin-left : 4vw;
	top : -10vw;
}
.ingredient2 h1{
	font-family: Arimo;
	font-size : 3.2vw;
	position : relative;
	margin-left : 4vw;
	top : -10vw;
}
.txtLieux h2{
	font-family: Arial;
	color : #A6A7A8;
	font-weight: normal;
	font-size : 2.5vw;
	position : relative;
	top : -22vw;
	left : 58vw;
	background: transparent;
	width : 300px;
	height : 200px;

}
.KitRaclette {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 15vw;
	margin-bottom: 2vw;
}

.titreRaclette h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}
.KitSaladeCesar {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 15vw;
	margin-bottom: 2vw;
}

.titreSaladeCesar h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}

#jour2 {

	color : #9CA857;
	position : relative;
	font-family: Fira Sans;
	letter-spacing: 2px;
	font-weight: lighter;
	padding: 5vw;
	top : 12vw;
}
.KitMatinGourmand {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 8vw;
	margin-bottom: 2vw;
}

.titreMatinGourmand h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}

/* chat */

#txtGroupe h2 {
	text-transform: uppercase;
	color : #A6A7A8;
	font-size : 2.5vw;
	letter-spacing: 2px;
	font-family: Arial;
	position : relative;
	left : 15vw;
	top : 20vw;
}
.leftArrow img{
	width : 50px;
	position : relative;
	top : 13.5vw;
	left : 4vw;

}

.bulle1{
	background : #9CA857;
	padding: 3vw;
	margin : 25vw;
	height : 25vw;
	width : 60vw;
	position : relative;
	border-radius : 20px;
}
.bulle1 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle1 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}
.bulle2{
	background : #525252;
	padding: 3vw;
	margin : 25vw;
	height : 25vw;
	width : 60vw;
	position : relative;
	border-radius : 20px;
	top : -20vw;
	left : -17vw;
}
.bulle2 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle2 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}

#txtDay h2{
	text-transform: uppercase;
	color : #D6D1D1;
	font-size : 3vw;
	letter-spacing: 2px;
	font-family: Arial;
	position : relative;
	top : -35vw;
	text-align: center;
}
.bulle3{
	background : #9CA857;
	padding: 3vw;
	margin : 25vw;
	height : 15vw;
	width : 60vw;
	top : -52vw;
	position : relative;
	border-radius : 20px;
}
.bulle3 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle3 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}
#discussion {
	background: transparent;
	border-color: #525252;
	width : 67vw;
	height : 10vw;
	padding : 1vw;
	position : relative;
	top : -67vw;
	left : 15vw;
}
 ::placeholder{
	color :#A6A7A8;
	font-size : 2.5vw;
	font-family: Arial;
 	font-style: italic;
 	padding : 3vw;
 	position :relative;
}
.cameraIcon img{
	position : relative;
	top : -77vw;
	left : 3.5vw;
	width : 65px;
}

.btnEnvoi img{

	position : relative;
	top : -83vw;
	left : 88vw;
	width : 65px;

}