html,body{

    height: 100%;	
/*bloque le scroll */ 
    overflow-x: hidden;
    overflow-y: hidden;
    margin : 0;
}
li {
	list-style-type: none;
}

#jour h1 {
	color : #9CA857;
	position : relative;
	font-family: Fira Sans;
	letter-spacing: 1px;
	font-weight: bolder;
	padding: 5vw;
	top : 9vw;
	font-size: 4vw;


}
.Kitbrunch {
	background :#F4F4F4;
	padding : 2vw;
	height: 35vw;
	position : relative;
	top : 8vw;
	margin-bottom: 2vw;
}

.titreBrunch h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}
.aDeposer h3{
	color : #9CA857;
	position : relative;
	top : -5.5vw;
	left : 60vw;
	font-family: Arial;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: lighter;
	font-style: italic;

}
.heure h4{
	color : #525252;
	position : relative;
	font-family: Arial;
	letter-spacing: 1px;
	font-size : 3.5vw;
	top : -13.5vw;
	left : 85vw;
	font-weight: bolder;


}
.ingredient1 h1{
	font-family: Arimo;
	font-size : 3.2vw;
	position : relative;
	margin-left : 4vw;
	top : -10vw;
}
.ingredient2 h1{
	font-family: Arimo;
	font-size : 3.2vw;
	position : relative;
	margin-left : 4vw;
	top : -10vw;
}
.txtLieux h2{
	font-family: Arial;
	color : #A6A7A8;
	font-weight: normal;
	font-size : 2.5vw;
	position : relative;
	top : -22vw;
	left : 58vw;
	background: transparent;
	width : 300px;
	height : 200px;

}
.KitRaclette {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 8vw;
	margin-bottom: 2vw;
}

.titreRaclette h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}
.KitSaladeCesar {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 8vw;
	margin-bottom: 2vw;
}

.titreSaladeCesar h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}

#jour2 {

	color : #9CA857;
	position : relative;
	font-family: Fira Sans;
	letter-spacing: 1px;
	font-weight:lighter; 
	padding: 5vw;
	top : 2vw;
	font-size: 2vw;
}
.KitMatinGourmand {
	background :#F4F4F4;
	padding : 2vw;
	height: 27vw;
	position : relative;
	top : 0vw;
	margin-bottom: 2vw;
}

.titreMatinGourmand h2{
	text-transform: uppercase;
	color : #9CA857;
	margin-left : 4vw;
	position : relative;
	font-family: Arimo;
	letter-spacing: 1px;
	font-size : 2.5vw;
	font-weight: normal;

}

/* chat */
.traitVert {
	background: #9CA857;
	position : relative;
	width : 27vw;
	height: 0.5vw;
	top : 17vw;
	left : 70vw;
}
#txtGroupe h2 {
	text-transform: uppercase;
	color : #A6A7A8;
	font-size : 2.5vw;
	letter-spacing: 2px;
	font-family: Arial;
	position : relative;
	left : 15vw;
	top : 10vw;
}
.leftArrow img{
	width : 50px;
	position : relative;
	top : 4vw;
	left : 4vw;

}

.bulle1{
	background : #9CA857;
	padding: 3vw;
	margin : 25vw;
	height : 25vw;
	width : 60vw;
	top : -17vw;
	position : relative;
	border-radius : 20px;
}
.bulle1 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle1 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}
.bulle2{
	background : #525252;
	padding: 3vw;
	margin : 25vw;
	height : 25vw;
	width : 60vw;
	position : relative;
	border-radius : 20px;
	top : -38vw;
	left : -17vw;
}
.bulle2 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle2 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}

#txtDay h2{
	text-transform: uppercase;
	color : #D6D1D1;
	font-size : 3vw;
	letter-spacing: 2px;
	font-family: Arial;
	position : relative;
	top : -55vw;
	text-align: center;
}
.bulle3{
	background : #9CA857;
	padding: 3vw;
	margin : 25vw;
	height : 15vw;
	width : 60vw;
	top : -75vw;
	position : relative;
	border-radius : 20px;
}
.bulle3 h2{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin : 2vw;

}
.bulle3 h3{
	color : white;
	font-family: Arial;
	font-weight : lighter;
	letter-spacing : 2px;
	font-size : 3vw;
	position : relative;
	top : -2vw;
	padding : 1vw;
	margin :2vw;
	line-height: 1.8;

}
#discussion {
	background: transparent;
	border-color: #525252;
	width : 67vw;
	height : 10vw;
	padding : 1vw;
	position : relative;
	top : -90vw;
	left : 15vw;
}
 ::placeholder{
	color :#A6A7A8;
	font-size : 2.5vw;
	font-family: Arial;
 	font-style: italic;
 	padding : 3vw;
 	position :relative;
}
.cameraIcon img{
	position : relative;
	top : -100vw;
	left : 3.5vw;
	width : 65px;
}

.btnEnvoi img{

	position : relative;
	top : -107vw;
	left : 88vw;
	width : 65px;

}
/* Création kit */

.timelineVert{
	background : #9CA857;
	position : relative;
	top : 18vw;
	width : 85vw;
	height : 2.5vw;
	margin-left : 7vw;
	border-radius: 5vw;
}
.timelineGrise{
	background : #F4F4F4;
	position : relative;
	top : 0vw;
	width : 55vw;
	height : 2.5vw;
	margin-left : 30vw;
	border-radius: 5vw;
}
.rond{
	background : #B7C663;
	border-radius: 50%;
	width : 2.5vw;
	height: 2.5vw;
	position : relative;
	left : 0.7vw;
	top : 0vw;
}
.rond2{
	background : #B7C663;
	border-radius: 50%;
	width : 2.5vw;
	height: 2.5vw;
	position : relative;
	left : 0.7vw;
	top : 0vw;
}
.zonePhoto{
	background : transparent;
	position : relative;
	top : 5vw;
	height : 30vw;
	margin :20vw;
	border: solid #F0F0F0 5px;

}

.zonePhoto img{
	position : relative;
	width : 12vw;
	left : 24vw;
	top : 8vw;

}
.zonePhoto h4{
	font-family: Arial;
	font-style: italic;
	font-size : 2.5vw;
	font-weight: lighter;
	position : relative;
	left : 5vw;
	top : 8.5vw;
}
.titreKit h3{
	font-family: Fira Sans;
	font-size : 4vw;
	position : relative;
	font-weight: normal;
	letter-spacing: 1px;
	left : 5vw;
	top : -7vw;
	color : #9CA857;
	margin-left : 3vw;

}
.titreKit h4{
	font-family: Arial;
	font-style: italic;
	font-size : 3vw;
	font-weight: lighter;
	position : relative;
	left : 5vw;
	top : -13vw;
	margin-left : 3vw;
	
}
.descriptionKit h3{
	font-family: Fira Sans;
	font-size : 4vw;
	position : relative;
	font-weight: normal;
	letter-spacing: 1px;
	left : 5vw;
	top : -12vw;
	color : #9CA857;
	margin-left : 3vw;


}
.descriptionKit h4{
	font-family: Arial;
	font-style: italic;
	font-size : 3vw;
	font-weight: lighter;
	position : relative;
	left : 5vw;
	top : -17vw;
	margin-left : 3vw;


	
}
#descripInput {
	position: relative;
	top : -12vw;
	left : 5vw;
	margin-top: -6vw;
	font-size : 10vw;


}
#descripTitre {
	position: relative;
	top : -12vw;
	left : 4vw;
	font-size : 10vw;
	color : black;
}
.ingredientsKit h3{
	font-family: Fira Sans;
	font-size : 4vw;
	position : relative;
	font-weight: normal;
	letter-spacing: 1px;
	left : 5vw;
	top : -15vw;
	color : #9CA857;
	margin-left : 3vw;

}
.ingredientsKit .zoneIngregients{
	background : #F7F7F7;
	position : relative;
	top : -29vw;
	height : 12vw;
	margin :20vw;
}
.zoneIngregients img{
	width : 8vw;
	position : relative;
	left : 25vw;
	top : 1.5vw;
}
#btnSauvegarder{
	background : #D6D1D1;
	width :35vw;
	height : 10vw;
	position :relative;
	top : -35vw;
	left : 15vw;
	font-size : 2.5vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	color : white;
	font)font-weight: bolder;
	border-radius : 12px;
	box-shadow: 1px 1px 1.5px 1.5px #aaaaaaaa;
}


#btnSuivant {
	background : #9CA857;
	width :35vw;
	height : 10vw;
	position :relative;
	top : -35vw;
	left : 15vw;
	margin : 2vw;
	font-size : 2.5vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	color : white;
	font)font-weight: bolder;
	border-radius : 12px;
	box-shadow: 1px 1px 1.5px 1.5px #aaaaaaaa;

}

/* Création kit2(ingredients)*/

#txtGroupe2 h3{

	text-transform: uppercase;
	color : #A6A7A8;
	font-size : 2.5vw;
	letter-spacing: 2px;
	font-family: Arial;
	position : relative;
	left : 15vw;
	top : 20vw;
}
.timelineVert2{
	background : #9CA857;
	position : relative;
	top : 18vw;
	width : 60vw;
	height : 2.5vw;
	margin-left : 7vw;
	border-radius: 5vw;
}
.timelineGrise2{
	background : #F4F4F4;
	position : relative;
	top : 0vw;
	width : 38vw;
	height : 2.5vw;
	margin-left : 50vw;
	border-radius: 5vw;
}
.rond2{
	background : #B7C663;
	border-radius: 50%;
	width : 2.5vw;
	height: 2.5vw;
	position : relative;
	left : -25vw;
	top : -3vw;
	border: solid #F0F0F0 5px;
}
.zoneIngred {
	background : #F7F7F7;
	height : 15vw;
	position : relative;
	top : 20vw;
	margin : 8vw;
}
.zoneIngred2 {
	background : #F7F7F7;
	height : 15vw;
	position : relative;
	top : 15vw;
	margin : 8vw;
}

.zoneIngred2 img{
	width : 10vw ;
	position : relative;
	left : 37vw;
	top : 2vw;
}
.zoneIngred22 {
	background : #F7F7F7;
	height : 23vw;
	position : relative;
	top : 15vw;
	margin : 8vw;
}
.zoneIngred22 img{
	width : 11vw ;
	position : relative;
	left : 20vw;
	top : 5vw;
}
.epicierRond img{
	position: relative;
	top : -6vw;
	left : 3vw;
	width : 10vw;
}
.imgPoulet img{
	position : relative;
	top : 2vw;
	width : 11vw;
	left : 35vw;

}
#inputIngredients{
	background: transparent;
	position :relative;
	left : 40vw;
	font-size: 3vw;
	width : 35vw;
	padding: 2vw;
	height : 3vw;
	top : -20vw;
	border:1px dashed black;
	border-radius: 20px;
}
#inputPrixUnite{
	background: transparent;
	position :relative;
	left : 1vw;
	font-size: 3vw;
	width : 35vw;
	padding: 2vw;
	height : 3vw;
	top : -10vw;
	border:1px dashed black;
	border-radius: 20px;
}

.imgPoulet h5{
	font-family: Arial;
	font-size : 2vw;
	position : relative;
	top : -8vw;
	left : 50vw;
	font-weight: normal;
}
.imageBouch img{
	position : relative;
	width : 10vw;
	top : -18vw;
	left : 3vw;

}

.imageBouch h5{
	position : relative;
	font-size : 2.5vw;
	font-family: Arial;
	font-weight: normal;
	top : -28vw;
	left : 16vw;
}
.iconCrayon img{
	position : relative;
	width : 11vw;
	top : -40vw;
	left: 68vw;
}
.prixKit h3{
	font-family: Arial;
	font-size : 7vw;
	position : relative;
	color : #9CA857;
	left : 40vw;
	top : 20vw;
	letter-spacing: 2px;

}
.membresGroupe h3{
	font-family: Arial;
	font-size : 3vw;
	font-weight: lighter;
	color : #9CA857;
	letter-spacing: 1.5px;
	position: relative;
	left : 10vw;
	top : 22vw;
	margin-bottom : -5vw;
}
.boucherPhoto img{
	position: relative;
	width : 15vw;
	top : 48vw;
	left : 10vw;
	margin-top: -30vw;
}
.boucherPhoto h4{
	font-family: Arial;
	font-size : 3vw;
	margin-top :-2vw;
	position : relative;
	top : 55vw;
	left : 12vw;
}
.boulangerPhoto img{
	position: relative;
	width : 15vw;
	top : 42vw;
	left : 32vw;
	margin-top: -30vw;
}

.boulangerPhoto h4{
	font-family: Arial;
	font-size : 3vw;
	margin-top :-2vw;
	position : relative;
	top : 48vw;
	left : 32vw;
}
.epicierPhoto img{
	position: relative;
	width : 15vw;
	top : 36vw;
	left : 54vw;
	margin-top: -30vw;
}


.epicierPhoto h4{
	font-family: Arial;
	font-size : 3vw;
	margin-top :-2vw;
	position : relative;
	top : 41vw;
	left : 56vw;

}


#btnSauvegarder2{
	background : #D6D1D1;
	width :35vw;
	height : 10vw;
	position :relative;
	top : 45vw;
	left : 15vw;
	font-size : 2.5vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	color : white;
	font)font-weight: bolder;
	border-radius : 12px;
	box-shadow: 1px 1px 1.5px 1.5px #aaaaaaaa;
}


#btnSuivant2 {
	background : #9CA857;
	width :35vw;
	height : 10vw;
	position :relative;
	top : 45vw;
	left : 15vw;
	margin : 2vw;
	font-size : 2.5vw;
	letter-spacing: 2px;
	text-transform: uppercase;
	color : white;
	font)font-weight: bolder;
	border-radius : 12px;
	box-shadow: 1px 1px 1.5px 1.5px #aaaaaaaa;

}


/* Gestion Kit 1 */

.item1{
	background : #F4F4F4;
	position: relative;
	top : 20vw;
	left : 5vw;
	width : 42.5vw;
	height : 80vw;
}
.item1 img{
	width : 42.5vw;
	height: 30vw

}

#titre h2{
	color : #9CA857;
	font-family: Arimo ;
	font-size: 4vw ;
	font-weight: bolder ;
	position : relative;
	letter-spacing: 1px;
	top : 2vw;
	left : 2vw;
}

#descriptionKit h4 {
	color : #525252;
	font-family: Arimo;
	font-size: 3vw;
	line-height: 5vw;
	padding :1.2vw;
	font-weight: bolder;
}

.item2{
	background : #F4F4F4;
	position: relative;
	top : -60vw;
	left : 52vw;
	width : 42.5vw;
	height : 80vw;
}
.item2 img{
	width : 42.5vw;

}
.item3{
	background : #F4F4F4;
	position: relative;
	top : -55vw;
	left : 5vw;
	width : 42.5vw;
	height : 80vw;

}


.item3 img{
	width : 42.5vw;

}
.item3 img a :hover{
	background: orange;
}
.item4{
	background : #F4F4F4;
	position: relative;
	top : -135vw;
	left : 54vw;
	width : 42.5vw;
	height : 80vw;
}
.item4 img{
	width : 10vw;
	position : relative;
	top : 25vw;
	left : 16vw;


}


